* {
    margin:0;
    font-family: 'Lato', sans-serif;

}

.logoimg img{
    max-width: 5em;
    padding-top: 1em;
    padding-left: 150px;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    font-size: 1.15em;
    font-weight: bold;
    padding-top: 1em;
}

header{
    position:fixed;
    background-color: #E3E7AF;
    height: 100px;
    width:100%;
    display: grid;
    grid-template-columns: 25% auto auto;
    font-weight: bold;
    color: #49668E;
    
}
#spacer{
    height: 200px;
    width: 100%;
    background-color: #E3E7AF;
}
.logoName{
    font-size: 1.2em;
    text-align: center;
    text-justify: auto;
    padding-top: 1em;
    letter-spacing: .1rem;
    align-self: center;
}

#nav-bar{
    align-self: center;
    color: #49668E;
    font-size: 1em;
}
a:visited{
    color: #49668e;
}
body{
    color: #49668e;
}
@media (max-width:950px){
    .logoimg{
        display:none;
    }
    .logoName{
        font-size: 0.8em;
        width:auto;
    }
}

@media (max-width: 600px){
   
    .logoName{
        font-size: 0.6em;
        width:auto;
    }
    header{
        display:grid;
        grid-template-columns: auto;
    }
    .icon img{
        width: 1.45em;
    }
    .featurespage{
        height:auto;
        width:auto;
        font-size: 15px;
    }
    .inactionPage{
        height:auto;
        width:auto;
        padding-top: 25px;
    }
       
}
@media (max-width: 850px){
    .datagrid img{
        display: none;
    }
}
.featurespage{
    width:100%;
    height: auto;
    background-color: #E3E7AF;
    margin-top: auto;
    padding-top:155px;
    padding-bottom: 25px;
}
.featurestitle{
    text-align: center;
    margin:auto;
    padding-bottom: 25px;
   
}
.featuresgrid{
    margin:auto;
    width:40%;
    display: flex;
   align-self: center;
   padding-top: 5px;
}
.icon img{
    max-width: 3em;
    padding-right: 5px;
}
.text{
    text-justify: distribute;
    padding-left:5px;
    padding-bottom: 15px;
}
h2{
    letter-spacing: 0.4em;
}
.text p{
    font-size: 1.082em;
}
.inactionPage{
    width: 100%;
    background-color: #E3E7AF;
    text-align: center;
    height: auto;
}
#videocontainer{
    display: flex;
    justify-content: center;
}
.text h2{
    letter-spacing: 0.3em;
    padding-bottom: 10px;
    padding-top: 35px;
}
.formpage{
    width: 100%;
    height: 150px;
    background-color: #E3E7AF;
    text-align: center;
    padding-top: 25px;
}

.myButton {
	background-color:#0B0A07;
	border-radius:7px;
	border:1px solid #637742;
	display:inline-block;
	cursor:pointer;
	color:#49668E;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
    text-decoration:none;
    
}
.myButton:hover {
    transition-delay: 1s;
transition-property: background-color;
    background-color: #FFFFFF;
    

}
.myButton:active {
	position:relative;
	top:1px;
}
input[type=email]{
    width:300px;
    border-style: solid;
    background-color: #e3e7af;
    color: #49668e;
    border-color: #637742;
    border-radius: 8px;
    border-width: 3px;
    font-size: 19px;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75);
}
footer {
    width: 100%;
    height: 50px;
    background-color: #E3E7AF;
    display: flex;
}

.producttable{
    background-color: #E3E7AF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
.datagrid img{
    width: 250px;
    height: 200px;
}
.datagrid table { 
    width: 60%;
    border-collapse: collapse; 
    background-color: white;
    justify-content: space-evenly;
  }
 
  th { 
    background: #637742; 
    color: #0B0A07; 
    font-weight: bold; 
    font-size: 150%;
    overflow: hidden; 
    line-height: 150%;
  }
  td, th { 
    padding: 6px; 
    font-size: 125%;
    text-align: left; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
    line-height: 150%;
  }
